<a href="https://colab.research.google.com/github/vineshyadav1234/cnn-code/blob/main/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
import pyspark as ps
import warnings
from pyspark.sql import SQLContext

warnings.filterwarnings('ignore')

In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('/content/pysparks.csv')

In [5]:
df

        name   age  experience   salary
0    vinesh   23.0        10.0  20000.0
1      krish  24.0        11.0      NaN
2      vijay  25.0         NaN  20002.0
3       arun   NaN        13.0  20003.0
4   krishana  27.0        14.0      NaN
5       ayan  28.0        15.0  20005.0
6       ahir   NaN         NaN  20006.0
7     ishika  30.0        17.0  20007.0
8     karanS  31.0        18.0  20008.0
9        NaN  32.0        19.0      NaN
10       NaN  33.0        20.0      NaN
11       NaN  34.0         NaN      NaN

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark=SparkSession.builder.appName('practice1').getOrCreate()

In [8]:
spark

In [9]:
df_pyspark=spark.read.csv('/content/pysparks.csv')

In [10]:
df_pyspark.show()

+--------+----+----------+------+
|     _c0| _c1|       _c2|   _c3|
+--------+----+----------+------+
|    name| age|experience|salary|
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [11]:
spark.read.option('header','true').csv('/content/pysparks.csv').show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [12]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [13]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [14]:
# pyspark dataframe

In [15]:
df_pyspark=spark.read.option('header','true').csv('/content/pysparks.csv',inferSchema=True)

In [16]:
#check the schema
df_pyspark.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [17]:
type(df_pyspark)

pyspark.sql.classic.dataframe.DataFrame

In [18]:
df_pyspark.columns

['name', 'age', 'experience', 'salary']

In [19]:
df_pyspark.head(3)

[Row(name='vinesh ', age=23, experience=10, salary=20000),
 Row(name='krish', age=24, experience=11, salary=None),
 Row(name='vijay', age=25, experience=None, salary=20002)]

In [20]:
df_pyspark.select('name').show()

+--------+
|    name|
+--------+
| vinesh |
|   krish|
|   vijay|
|    arun|
|krishana|
|    ayan|
|    ahir|
|  ishika|
|  karanS|
|    NULL|
|    NULL|
|    NULL|
+--------+

In [21]:
df_pyspark.select(['name','experience']).show()

+--------+----------+
|    name|experience|
+--------+----------+
| vinesh |        10|
|   krish|        11|
|   vijay|      NULL|
|    arun|        13|
|krishana|        14|
|    ayan|        15|
|    ahir|      NULL|
|  ishika|        17|
|  karanS|        18|
|    NULL|        19|
|    NULL|        20|
|    NULL|      NULL|
+--------+----------+

In [22]:
df_pyspark.dtypes

[('name', 'string'), ('age', 'int'), ('experience', 'int'), ('salary', 'int')]

In [23]:
df_pyspark.describe().show()

+-------+-------+------------------+------------------+------------------+
|summary|   name|               age|        experience|            salary|
+-------+-------+------------------+------------------+------------------+
|  count|      9|                10|                 9|                 7|
|   mean|   NULL|              28.7|15.222222222222221|20004.428571428572|
| stddev|   NULL|3.8887301554906375| 3.527668414752788|2.8784916685148874|
|    min|   ahir|                23|                10|             20000|
|    max|vinesh |                34|                20|             20008|
+-------+-------+------------------+------------------+------------------+

In [24]:
## adding coloum in data types
df_pyspark.withColumn('experience after 2 years',df_pyspark['experience']+2).show()

+--------+----+----------+------+------------------------+
|    name| age|experience|salary|experience after 2 years|
+--------+----+----------+------+------------------------+
| vinesh |  23|        10| 20000|                      12|
|   krish|  24|        11|  NULL|                      13|
|   vijay|  25|      NULL| 20002|                    NULL|
|    arun|NULL|        13| 20003|                      15|
|krishana|  27|        14|  NULL|                      16|
|    ayan|  28|        15| 20005|                      17|
|    ahir|NULL|      NULL| 20006|                    NULL|
|  ishika|  30|        17| 20007|                      19|
|  karanS|  31|        18| 20008|                      20|
|    NULL|  32|        19|  NULL|                      21|
|    NULL|  33|        20|  NULL|                      22|
|    NULL|  34|      NULL|  NULL|                    NULL|
+--------+----+----------+------+------------------------+

In [25]:
df_pyspark.drop('experience after 2 years').show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [26]:
df_pyspark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [27]:
### rename col.
df_pyspark.withColumnRenamed('name','new name').show()

+--------+----+----------+------+
|new name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [28]:
## how to handle the pyspark null value

In [29]:
## droping null values
##droping rows
##various parameter in roping functionality
## haddle null value through mean median mode

In [30]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice2').getOrCreate()

In [31]:
df_pyspark=spark.read.csv('/content/pysparks.csv',header=True,inferSchema=True)

In [32]:
df_pyspark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [33]:
## drop the coloum
df_pyspark.drop('name')

DataFrame[age: int, experience: int, salary: int]

In [34]:
df_pyspark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [35]:
df_pyspark.na.drop().show() ## drop that row whwre na value is present

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|vinesh | 23|        10| 20000|
|   ayan| 28|        15| 20005|
| ishika| 30|        17| 20007|
| karanS| 31|        18| 20008|
+-------+---+----------+------+

In [36]:
##any==how
df_pyspark.na.drop(how='any').show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|vinesh | 23|        10| 20000|
|   ayan| 28|        15| 20005|
| ishika| 30|        17| 20007|
| karanS| 31|        18| 20008|
+-------+---+----------+------+

In [37]:
##any==all
df_pyspark.na.drop(how='all').show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [38]:
### tresold
df_pyspark.na.drop(how='any',thresh=2).show()## this is used if we set tresh is 2 then it will keep all that row which have non  2 null value

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
+--------+----+----------+------+

In [39]:
## subset this is uesd when we want to delete a null value from any spesific col
df_pyspark.na.drop(how='any',subset=['experience']).show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
+--------+----+----------+------+

In [40]:
### fill the missing value
df_pyspark.na.fill('missing value').show()

+-------------+----+----------+------+
|         name| age|experience|salary|
+-------------+----+----------+------+
|      vinesh |  23|        10| 20000|
|        krish|  24|        11|  NULL|
|        vijay|  25|      NULL| 20002|
|         arun|NULL|        13| 20003|
|     krishana|  27|        14|  NULL|
|         ayan|  28|        15| 20005|
|         ahir|NULL|      NULL| 20006|
|       ishika|  30|        17| 20007|
|       karanS|  31|        18| 20008|
|missing value|  32|        19|  NULL|
|missing value|  33|        20|  NULL|
|missing value|  34|      NULL|  NULL|
+-------------+----+----------+------+

In [41]:
### fill the missing value in specific col
df_pyspark.na.fill(0,['experience','age']).show()

+--------+---+----------+------+
|    name|age|experience|salary|
+--------+---+----------+------+
| vinesh | 23|        10| 20000|
|   krish| 24|        11|  NULL|
|   vijay| 25|         0| 20002|
|    arun|  0|        13| 20003|
|krishana| 27|        14|  NULL|
|    ayan| 28|        15| 20005|
|    ahir|  0|         0| 20006|
|  ishika| 30|        17| 20007|
|  karanS| 31|        18| 20008|
|    NULL| 32|        19|  NULL|
|    NULL| 33|        20|  NULL|
|    NULL| 34|         0|  NULL|
+--------+---+----------+------+

In [42]:
from pyspark.ml.feature import Imputer
imputer=Imputer(
    inputCols=['age','experience','salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','experience','salary']]
).setStrategy("mean")
imputer.fit(df_pyspark).transform(df_pyspark).show()
df_pyspark.show()

+--------+----+----------+------+-----------+------------------+--------------+
|    name| age|experience|salary|age_imputed|experience_imputed|salary_imputed|
+--------+----+----------+------+-----------+------------------+--------------+
| vinesh |  23|        10| 20000|         23|                10|         20000|
|   krish|  24|        11|  NULL|         24|                11|         20004|
|   vijay|  25|      NULL| 20002|         25|                15|         20002|
|    arun|NULL|        13| 20003|         28|                13|         20003|
|krishana|  27|        14|  NULL|         27|                14|         20004|
|    ayan|  28|        15| 20005|         28|                15|         20005|
|    ahir|NULL|      NULL| 20006|         28|                15|         20006|
|  ishika|  30|        17| 20007|         30|                17|         20007|
|  karanS|  31|        18| 20008|         31|                18|         20008|
|    NULL|  32|        19|  NULL|         32|                19|         20004|
|    NULL|  33|        20|  NULL|         33|                20|         20004|
|    NULL|  34|      NULL|  NULL|         34|                15|         20004|
+--------+----+----------+------+-----------+------------------+--------------+

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [44]:
## pyspark data frame
## filter operation
## &!==
##~
df_pyspark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [46]:
df=df_pyspark.na.drop(how='any')

In [47]:
df.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|vinesh | 23|        10| 20000|
|   ayan| 28|        15| 20005|
| ishika| 30|        17| 20007|
| karanS| 31|        18| 20008|
+-------+---+----------+------+

In [50]:
df.filter('salary>=20000').show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|vinesh | 23|        10| 20000|
|   ayan| 28|        15| 20005|
| ishika| 30|        17| 20007|
| karanS| 31|        18| 20008|
+-------+---+----------+------+

In [51]:
df.filter('salary>=20000').select(['name','age']).show()

+-------+---+
|   name|age|
+-------+---+
|vinesh | 23|
|   ayan| 28|
| ishika| 30|
| karanS| 31|
+-------+---+

In [57]:
df.filter((df["salary"]>20000)&(df['salary']<20009)).show()

+------+---+----------+------+
|  name|age|experience|salary|
+------+---+----------+------+
|  ayan| 28|        15| 20005|
|ishika| 30|        17| 20007|
|karanS| 31|        18| 20008|
+------+---+----------+------+

In [58]:
##pyspark group by and aggregate fuction##

In [59]:
spark

In [64]:
df2=spark.read.csv('/content/employees_data.csv',header=True,inferSchema=True)

In [65]:
df2.show()

+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
| Rahul|        HR| 45000|
|Anjali|        IT| 60000|
|  Amit|   Finance| 55000|
| Priya| Marketing| 50000|
|Suresh|        IT| 65000|
|  Neha|        HR| 48000|
|Vikram|Operations| 52000|
| Pooja|   Finance| 58000|
| Rohit|     Sales| 47000|
|Kavita| Marketing| 51000|
| Arjun|        IT| 70000|
| Sneha|        HR| 46000|
| Manoj|Operations| 54000|
|  Isha|     Sales| 49000|
|Deepak|   Finance| 62000|
+------+----------+------+

In [67]:
df2.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [72]:
## group by name
df2.groupBy('name').sum().show()

+------+-----------+
|  name|sum(Salary)|
+------+-----------+
|Suresh|      65000|
| Sneha|      46000|
| Priya|      50000|
|Vikram|      52000|
|Deepak|      62000|
|Kavita|      51000|
| Rahul|      45000|
| Manoj|      54000|
| Pooja|      58000|
| Rohit|      47000|
|  Isha|      49000|
| Arjun|      70000|
|  Amit|      55000|
|  Neha|      48000|
|Anjali|      60000|
+------+-----------+

In [74]:
df2.groupby('department').mean().show()

+----------+------------------+
|department|       avg(Salary)|
+----------+------------------+
|     Sales|           48000.0|
|        HR|46333.333333333336|
|   Finance|58333.333333333336|
| Marketing|           50500.0|
|        IT|           65000.0|
|Operations|           53000.0|
+----------+------------------+

In [75]:
df2.groupby('department').count().show()

+----------+-----+
|department|count|
+----------+-----+
|     Sales|    2|
|        HR|    3|
|   Finance|    3|
| Marketing|    2|
|        IT|    3|
|Operations|    2|
+----------+-----+

In [76]:
## anotherway to find the salary

In [79]:
df2.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     812000|
+-----------+

In [80]:
df_pyspark.show()

+--------+----+----------+------+
|    name| age|experience|salary|
+--------+----+----------+------+
| vinesh |  23|        10| 20000|
|   krish|  24|        11|  NULL|
|   vijay|  25|      NULL| 20002|
|    arun|NULL|        13| 20003|
|krishana|  27|        14|  NULL|
|    ayan|  28|        15| 20005|
|    ahir|NULL|      NULL| 20006|
|  ishika|  30|        17| 20007|
|  karanS|  31|        18| 20008|
|    NULL|  32|        19|  NULL|
|    NULL|  33|        20|  NULL|
|    NULL|  34|      NULL|  NULL|
+--------+----+----------+------+

In [81]:
df.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|vinesh | 23|        10| 20000|
|   ayan| 28|        15| 20005|
| ishika| 30|        17| 20007|
| karanS| 31|        18| 20008|
+-------+---+----------+------+

In [85]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice3').getOrCreate()

In [86]:
df.show()

+-------+---+----------+------+
|   name|age|experience|salary|
+-------+---+----------+------+
|vinesh | 23|        10| 20000|
|   ayan| 28|        15| 20005|
| ishika| 30|        17| 20007|
| karanS| 31|        18| 20008|
+-------+---+----------+------+

In [87]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [88]:
df.columns

['name', 'age', 'experience', 'salary']

In [89]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=['age','experience'],outputCol='independent feature')

In [90]:
output=featureassembler.transform(df)

In [91]:
output.show()

+-------+---+----------+------+-------------------+
|   name|age|experience|salary|independent feature|
+-------+---+----------+------+-------------------+
|vinesh | 23|        10| 20000|        [23.0,10.0]|
|   ayan| 28|        15| 20005|        [28.0,15.0]|
| ishika| 30|        17| 20007|        [30.0,17.0]|
| karanS| 31|        18| 20008|        [31.0,18.0]|
+-------+---+----------+------+-------------------+

In [92]:
finalized_data=output.select("independent feature",'salary')

In [93]:
finalized_data.show()

+-------------------+------+
|independent feature|salary|
+-------------------+------+
|        [23.0,10.0]| 20000|
|        [28.0,15.0]| 20005|
|        [30.0,17.0]| 20007|
|        [31.0,18.0]| 20008|
+-------------------+------+

In [111]:
from pyspark.ml.regression import LinearRegression
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
Regressor=LinearRegression(featuresCol='independent feature',labelCol='salary')
Regressor=Regressor.fit(train_data)

In [112]:
Regressor.coefficients

DenseVector([1537.6923, -1536.6923])

In [113]:
Regressor.intercept

0.0

In [114]:
pre_result=Regressor.evaluate(test_data)

In [115]:
pre_result.predictions.show()

+-------------------+------+------------------+
|independent feature|salary|        prediction|
+-------------------+------+------------------+
|        [23.0,10.0]| 20000|19999.999999999945|
|        [31.0,18.0]| 20008|20008.000000000007|
+-------------------+------+------------------+